@font-face {
    font-family: 'norsebold';
    src: url('../fonts/norse-bold/norse-bold-webfont.woff2') format('woff2'),
         url('../fonts/norse-bold/norse-bold-webfont.woff') format('woff');
    font-weight: normal;
    font-style: normal;
}

* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

body {
    font-family: system-ui, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    font-size: 1.5rem;
}

.container {
    height: 100vh;
    width: 100vw;
    display: flex;
}

.left-pagepart {
    background-image: url(../img/forest-background.jpg);
    background-size: auto 130vh;
    background-position: 50% 50%;
    background-repeat: no-repeat;
    min-width: clamp(300px, 40%, 700px);
    position: relative;
}

.italic {
    font-style: italic;
}

.bold {
    font-weight: 500;
}

.right-pagepart {
    display: flex;
    flex-direction: column;
    gap: 2rem;
    background-color: #F5F5F5;
    flex-grow: 1;
    justify-content: center;
}

.right-pagepart > form {
    background-color: white;
}

.logo {
    background-color: #01010180;
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 0.5rem;
    position: absolute;
    width: 100%;
    top: 25%;
    padding: 1rem 0;
}

.logo > span {
    font-family: norsebold;
    color: white;
    font-size: 6rem;
}

.photo-credits {
    color: white;
    font-size: 0.7rem;
}

.photo-credits > a:link,
.photo-credits > a:visited {
    color: white;
}

.photo-credits {
    position: absolute;
    bottom: 2%;
    width: 100%;
    text-align: center;
}

.intro-text p:nth-child(2) {
    margin-top: 1rem;
}

.intro-text {
    padding-right: 3rem;
    min-width: 45ch;
    max-width: 70ch;
}

.create-account {
    display: flex;
    flex-direction: column;
}

.intro-text,
.create-account,
form {
    padding-left: 3rem;
}

.create-account > button {
    background-color: #596D48;
    color: white;
    font-size: 1rem;
    padding: 1em 2em;
    border-radius: 0.5em;
    border: none;
    box-shadow: 0 2px 3px gray;
    margin-bottom: 1.5rem;
    width: 12rem;
    font-weight: 700;
}

.create-account > button:hover {
    cursor: pointer;
    background-color: #4f623f;
}

.create-account > p {
    font-size: 1rem;
}

.create-account > p > a {
    color: #596D48;
    font-weight: 700;
    text-decoration: none;
}

form,
form > *,
.form-row > div {
    display: flex;
}

form,
.form-row > div {
    flex-direction: column;
}

form {
    gap: 1rem;
    padding-top: 1.5rem;
    padding-bottom: 1.5rem;
}

.form-row label {
    font-size: 0.7rem;
    letter-spacing: 0.05rem;
    font-weight: 500;
}

.form-row {
    gap: 5vw;
}

.form-row input {
    padding: 0.3rem;
    width: clamp(150px, 20vw, 270px);
    border: 1px solid #E5E7EB;
    border-radius: 0.2rem;
}

.form-row input:focus {
    box-shadow: 0 2px 3px gray;
    outline: 1px solid blue;
}

.form-row input[type="password"]:invalid {
    border: 1px solid #BF0000;
}

.form-row input[type="tel"] {
    border-style: dashed;
    border-width: 2px;
}
