@font-face {
    font-family: 'norsebold';
    src: url('../fonts/norse-bold/norse-bold-webfont.woff2') format('woff2'),
         url('../fonts/norse-bold/norse-bold-webfont.woff') format('woff');
    font-weight: normal;
    font-style: normal;
}

* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

.container {
    height: 100vh;
    width: 100vw;
    display: flex;
}

.left-pagepart {
    background-image: url(../img/forest-background.jpg);
    background-size: auto 130vh;
    background-position: 50% 50%;
    background-repeat: no-repeat;
    min-width: clamp(300px, 40%, 700px);
}

.italic {
    font-style: italic;
}

.bold {
    font-weight: bold;
}

.right-pagepart {
    display: flex;
    flex-direction: column;
    gap: 2rem;
    background-color: #F5F5F5;
    flex-grow: 1;
    justify-content: center;
}

.right-pagepart > form {
    background-color: white;
}

.logo {
    background-color: #01010180;
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 0.5rem;
    margin-top: 12rem;
    padding: 1rem 0;
}

.logo > span {
    font-family: norsebold;
    color: white;
    font-size: 6rem;
}